---
---

/*
 * This file controls what is imported from /_sass
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* ==============================
   Navigation zentrieren
   ============================== */

/* Flex-Container für Header */
.masthead__inner-wrap {
  display: flex;
  justify-content: center; /* zentriert alles horizontal */
  align-items: center;
}

/* Titel und Menüpunkte als inline-flex */
.masthead__in
